octoamazonas-portals/n8n/video_to_product_pipeline.json
{
  "name": "OctoAmazonas - Video to Product Pipeline",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "octo-video-intake",
        "responseMode": "responseNode"
      },
      "id": "webhook_video_intake",
      "name": "Webhook - Video Intake",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body || $json;\nconst text = body.text || body.description || '';\nconst source = body.source || body.channel || 'unknown';\nconst videoTitle = body.videoTitle || body.title || 'Untitled video';\nconst lines = text.split(/\\n+/).map(l => l.trim()).filter(Boolean);\nconst items = [];\nfor (const line of lines) {\n  const url = (line.match(/https?:\\/\\/\\S+/) || [''])[0];\n  const cleaned = line.replace(url, '').replace(/^[-•*\\d:.\\s]+/, '').trim();\n  if (!cleaned || cleaned.length < 3) continue;\n  if (url || /^[A-Za-z0-9].{2,80}$/.test(cleaned)) {\n    items.push({\n      product_name: cleaned.slice(0, 120),\n      source,\n      video_title: videoTitle,\n      source_url: body.url || '',\n      raw_line: line,\n      buy_url: url,\n      status: url ? 'Researching' : 'Needs Link',\n      created_at: new Date().toISOString()\n    });\n  }\n}\nreturn items.slice(0, 300).map(item => ({ json: item }));"
      },
      "id": "extract_products",
      "name": "Extract Product Candidates",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [260, 0]
    },
    {
      "parameters": {
        "jsCode": "function category(name){\n const t = name.toLowerCase();\n if (/(saw|drill|jig|tester|sprayer|cutter|welding|level|jack|clamp|bender|grinder|nailer|rivet|pump|heater|shear)/.test(t)) return 'Pro Tools';\n if (/(sofa|bed|lamp|chair|table|litter|dishwasher|vacuum|cabinet|rack|ottoman|furniture|home)/.test(t)) return 'Smart Home & Furniture';\n if (/(camera|printer|recorder|nas|display|creator|pocket|selfie)/.test(t)) return 'Creator & Productivity Tech';\n if (/(ring|glasses|wearable|pendant|exoskeleton|buds)/.test(t)) return 'Future Gadgets';\n if (/(tire|car|road|luggage|bike|mobility|power bank)/.test(t)) return 'Mobility / Outdoor / Emergency';\n return 'Future Gadgets';\n}\nreturn $input.all().map(i => {\n const j = i.json;\n const hasLink = !!j.buy_url;\n const score = 50 + (hasLink ? 20 : 0) + (j.product_name.length > 8 ? 10 : 0);\n return { json: { ...j, category: category(j.product_name), trend_score: Math.min(score, 95), verification_status: hasLink ? 'Researching' : 'Needs Link', monetization: hasLink ? 'affiliate_candidate' : 'research_candidate' } };\n});"
      },
      "id": "classify_score",
      "name": "Classify + Score",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [520, 0]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { status: 'OK', message: 'Product candidates extracted', count: $input.all().length, candidates: $input.all().map(i => i.json) } }}"
      },
      "id": "respond",
      "name": "Respond with Candidates",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [780, 0]
    }
  ],
  "connections": {
    "Webhook - Video Intake": {
      "main": [[{"node": "Extract Product Candidates", "type": "main", "index": 0}]]
    },
    "Extract Product Candidates": {
      "main": [[{"node": "Classify + Score", "type": "main", "index": 0}]]
    },
    "Classify + Score": {
      "main": [[{"node": "Respond with Candidates", "type": "main", "index": 0}]]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "octo-video-pipeline-v1"
}
